body {
  padding: 15px;
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

form {
  text-align: center;
}
 
#Features {
  margin-top: 20px;
  text-align: center 
}

#How_It_Works {
  margin-top: 20px;
  text-align: center 
}

#Pricing {
  margin-top: 20px;
  text-align: center 
}

#pricing {
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#pricing .card {
  margin: 0 auto;
  margin-bottom: -350px ;
  border: 1px solid #000;
  max-width: 340px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

#pricing .card h2 {
  background-color: #dddddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px ;
  margin-bottom:  15px;
  border-radius: 10px;
} 

#pricing .card strong {
  font-size: 15px;
  border-radius: 10px;
}

#pricing .card button{
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px
}


#card1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
 }

#nav-bar {
  display: flex;
  flex-grow: 1;
  min-height: 80px;
  align-items: center;
}

#header-img {
  width: 100px;
}
 
input , button {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #f1c40f;
}

footer {
  padding: 5px;
  margin-top: 400px;
  text-align: center;
  background-color: #ddd;
}

footer > ul {
  padding: 0;
}

footer > ul li {
  display: inline;
  margin-left: 30px;
}

footer > ul li a{
  color: #000;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.link {
  text-align: left;
  display: flex;
  min-height: 50px;
  align-items: center;
  text-indent: 40px;
 }

 .video {
  width: 50%;
  height: 45vh;
    margin: 0 auto;
    display: block;
    text-align: center;
  
}
 
 
@media(max-width: 600px){
  
}