body {
  padding: 15px;
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}



ul {
  display: flex;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

form {
  text-align: center;
}
 
#Features {
  margin-top: 20px;
  text-align: center 
}

#How_It_Works {
  margin-top: 20px;
  text-align: center 
}

#Pricing {
  margin-top: 20px;
  text-align: center 
}

h2 {
  text-align: center;
 }

#nav-bar {
  display: flex;
  flex-grow: 1;
  min-height: 80px;
  align-items: center;
}

#header-img {
  width: 100px;
}
 
input , button{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}



section {
  
}

iframe{
  
  
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.link {
  text-align: left;
  display: flex;
  min-height: 50px;
  align-items: center;
  text-indent: 40px;
 }

@media(max-width){

}